{% block _modal %}

<aside class="modal">
      <button id="close_now">
        {% include "./svg_inline/_logo_close.njk" %}  
      </button>
      <div class="modal_content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum, adipiscing amet in egestas sem dui, arcu faucibus scelerisque. Nisl est felis id volutpat. Sed dolor fermentum amet lectus nibh quis. Tortor donec pellentesque leo ac placerat. Morbi.</p>
        <div class="modal_contacts">
          {% include "./partials/_contacts_part.njk" %}
        </div>
        <div class="modal_working_hours">
          {% include "./partials/_working_hours.njk" %}      
        </div>
      </div>
    </aside>
{% endblock %}