{% block _index_works %}

        {% set works = [
          {
            src: './../assets/images/index/work_9L.jpeg' ,
            alt: 'make-up services',
            titl: 'make_up_services'            
          },
          {
            src: './../assets/images/index/work_6L.jpeg' ,
            alt: 'make-up services',
            titl: 'make_up_services'             
          },
          {
            src: './../assets/images/index/work_3L.jpeg' ,
            alt: 'make-up services',
            titl: 'make_up_services'         
          },
          {
            src: './../assets/images/index/work_8L.jpeg' ,
            alt: 'cosmetology services',
            titl: 'cosmetology_services'         
          },
          {
            src: './../assets/images/index/work_5L.jpeg' ,
            alt: 'hairdressing services',
            titl: 'hairdressing_services'              
          },
          {
            src: './../assets/images/index/work_2L.jpeg' ,   
            alt: 'manicure services',
            titl: 'manicure_services'       
          },
          {
            src: './../assets/images/index/work_7L.jpeg' ,
            alt: 'body esthetician',
            titl: 'bodyesthetician'             
          },
          {
            src: './../assets/images/index/work_4L.jpeg' ,   
            alt: 'manicure services',
            titl: 'manicure_services'         
          },
          {
            src: './../assets/images/index/work_1L.jpeg' ,
            alt: 'make-up services',
            titl: 'make_up_services'            
          }
        ]%}
          {% for item in works %}
            <div class="img_work_content">
              <img src="{{item.src}}" loading="lazy" alt="{{item.alt}}" title="{{item.titl}}"/>
            </div> 
          {% endfor %} 
        
{% endblock %} 