header {
  height: 70px;
  display: flex;
  margin: 0 auto;
  border-bottom: 0.5px solid $white;
  z-index: 25;

  nav {
    width: fit-content;
    height: 100%;
    margin: 0 auto;

    ul {
      height: inherit;

      .mini_nav {
        display: none;
      }

      li {
        height: inherit;

        ul {
          width: inherit;
          height: inherit;

          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-content: center;

          li:first-child {
            img {
              width: 24px;
              height: 24px;
            }
          }

          li:last-child {
            display: flex;
            align-items: center;
          }

          :not(.logotype) {
            align-self: center;
          }

          :not(:first-child) {
            margin-left: func_respons(20, 7);
          }

          li {
            margin-top: 9px;

            .active {
              color: $accent;
            }

            a {
              width: auto;
              height: 100%;

              padding: 0 func_respons(14, 5);

              display: flex;

              border-radius: func_rem(5);
              -webkit-border-radius: func_rem(5);
              -moz-border-radius: func_rem(5);
              -ms-border-radius: func_rem(5);
              -o-border-radius: func_rem(5);

              span {
                text-transform: capitalize;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }

  menu {
    display: none;
  }
}

#vector1 {
  fill: $white;
  stroke: $white;

  &:hover {
    fill: $accent;
    stroke: $accent;
  }
}

#vector2 {
  stroke: $white;

  &:hover {
    stroke: $accent;
  }
}

%btn_open {
  width: 40px;
  height: 2px;
}

.open_now {
  @extend %btn_open;
  background-color: $white;
  position: relative;

  %btn_bef_open {
    @include сentering-xy();
    content: '';
    @extend %btn_open;
    transform: translateX(-10px) translateY(10px);
    -webkit-transform: translateX(-10px) translateY(10px);
    -moz-transform: translateX(-10px) translateY(10px);
    -ms-transform: translateX(-10px) translateY(10px);
    -o-transform: translateX(-10px) translateY(10px);
  }

  %btn_aft_open {
    @include сentering-xy();
    content: '';
    @extend %btn_open;
    transform: translateX(-10px) translateY(-12px);
    -webkit-transform: translateX(-10px) translateY(-12px);
    -moz-transform: translateX(-10px) translateY(-12px);
    -ms-transform: translateX(-10px) translateY(-12px);
    -o-transform: translateX(-10px) translateY(-12px);
  }

  ::before {
    background-color: $white;
    @extend %btn_bef_open;
  }

  ::after {
    background-color: $white;
    @extend %btn_aft_open;
  }
}

.open_now:hover {
  background-color: $accent;
  @include transit;

  ::after {
    background-color: $accent;
    @extend %btn_aft_open;
  }

  ::before {
    background-color: $accent;
    @extend %btn_bef_open;
  }
}

//===================================max-width: 1030px
@media screen and (max-width: 1030px) {
  header {
    height: 50px;
    position: relative;

    nav {
      width: fit-content;
      margin-left: 0;

      ul {
        z-index: 25;

        li.mini_menu {
          display: none;
        }

        li {
          position: relative;

          &:hover>ul:first-of-type {
            display: initial;
          }

          &:not(:hover)>ul:first-of-type {
            display: none;
          }

          &:hover>span {
            @include transit;
            color: $accent;
          }

          .mini_nav {
            height: inherit;
            width: 10vw;
            display: block;
            padding-top: 10px;
            color: $white;
            font-size: xx-large;
          }

          ul:first-of-type {
            border: $bgc 1px dotted;
            width: 100vw;
            height: 420px;

            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            position: relative;
            padding-top: 40px;

            :not(:first-child) {
              margin-left: 0;
            }

            li {
              width: 100%;
              height: 50px;
              background-color: $bgc; //rgba(153, 186, 237, 0.95); // $shadow + opacity0.95
              border-bottom: 0.5px solid $white;

              a {
                width: 90vw;
                height: 100%;
              }

              @include transit;

              &:hover {
                @include transit;
                box-shadow:
                  -1.25px -1.25px 5px 5px $accent,
                  2.5px 2.5px 5px 5px $accent;
              }
            }
          }
        }
      }
    }

    menu {
      width: 50vw;
      height: 50px;
      display: block;
      position: absolute;
      right: 10px;

      ul {
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;

        li:last-child {
          height: 100%;
        }
      }
    }
  }
}

//===================================max-width: 450px
@media screen and (max-width: 450px) {
  header {
    width: 90vw;
    margin: 0 auto;

    menu {
      width: 50vw;
    }
  }
}

//===================================min-width: 1921px
@media screen and (min-width: 1921px) {
  header {
    min-width: 50vw;
  }
}