@import './base/nulling.scss';
@import './base/fonts.scss';
@import './base/vars.scss';
@import './base/mixins.scss';
@import './partials/_header.scss';
@import './partials/_modal.scss';
@import './partials/_footer.scss';

body {
  height: 100%;
  background-color: $bgc;
  font-size: 18px;
  color: $white;

  a.active {
    color: $accent;
  }

  a.phone_number,
  a.email,
  a.instagram {
    font-family: 'Cormorant Garamond SemiBold', serif;
    background-color: transparent;
    @include font_adapt(18, 12);
    text-transform: capitalize;
    color: $white;
    position: relative;

    &:visited {
      color: $white;
    }

    &:hover {
      color: $accent;
      text-decoration: none;
      position: relative;
    }

    &:active {
      color: $black;
      letter-spacing: 0.25rem;
      text-shadow: -5px -5px 15px $accent;
    }

    @include transit;
  }

  a.a_nav,
  button.btn_filter,
  button {
    font-family: 'Cormorant Garamond SemiBold', serif;
    background-color: transparent;
    @include font_adapt(18, 12);
    text-transform: capitalize;
    color: $white;
    position: relative;

    ::after {
      @include сentering-xy();
      content: '';
      width: 0%;
      height: 2px;
      background-color: $white;
      transform: translateX(-50%) translateY(10px);
      -webkit-transform: translateX(-50%) translateY(10px);
      -moz-transform: translateX(-50%) translateY(10px);
      -ms-transform: translateX(-50%) translateY(10px);
      -o-transform: translateX(-50%) translateY(10px);

      &:link {
        color: $white;
      }
    }

    &:visited {
      color: $white;
    }

    &:hover {
      color: $accent;
      text-decoration: none;
      position: relative;

      ::after {
        @include сentering-xy();
        @include transit;
        content: '';
        width: 80%;
        height: 2px;
        background-color: $accent;
        transform: translateX(-50%) translateY(10px);
        -webkit-transform: translateX(-50%) translateY(10px);
        -moz-transform: translateX(-50%) translateY(10px);
        -ms-transform: translateX(-50%) translateY(10px);
        -o-transform: translateX(-50%) translateY(10px);
      }
    }

    &:active {
      color: $black;
      letter-spacing: 0.25rem;
      text-shadow: -5px -5px 15px $accent;
    }

    @include transit;
  }

  h1 {
    font-family: 'Garamond Bold', serif;
    @include font_adapt(72, 18);
  }

  h2 {
    font-family: 'Garamond Bold', serif;
    @include font_adapt(48, 17);
  }

  h3 {
    font-family: 'EBGaramond Regular', serif;
    @include font_adapt(30, 16);
  }

  h4 {
    font-family: 'Cormorant Garamond Bold', serif;
    @include font_adapt(27, 15);
  }

  h5 {
    font-family: 'Garamond Bold', serif;
    @include font_adapt(24, 14);
  }

  p {
    font-family: 'Cormorant Garamond Regular', serif;
    @include font_adapt(18, 12);
  }

  strong {
    font-family: 'Garamond Bold', serif;
    @include font_adapt(27, 15);
    color: $accent;
  }
}

.wrapper {
  max-width: calc($maxWidth * 1px);
  min-width: calc($minWidth * 1px);
  min-height: 100%;

  display: flex;
  flex-flow: column nowrap;

  margin: 0 auto;
}

.container {
  width: func_respons(1296, 320); //func_perc(1920, 1296); // default 1296;
  max-width: calc($maxWidthContainer * 1px);
  margin: 0 auto;
}

main {
  flex: 1 1 auto;
}

// ===================================min-width: 1921px
@media screen and (min-width: 1921px) {
  .wrapper {
    max-width: 5000px;
  }

  .container {
    width: func_respons(1296, 320); //func_perc(1920, 1296); // default 1296;
    max-width: calc($maxWidthContainer * 1px);
    margin: 0 auto;
  }

  :root {

    a,
    button,
    a>span {
      font-size: calc(18px + 2rem);
    }

    h1 {
      font-size: calc(72px + 2rem);
    }

    h2 {
      font-size: calc(48px + 2rem);
    }

    h3 {
      font-size: calc(30px + 2rem);
    }

    h4 {
      font-size: calc(27px + 2rem);
    }

    h5 {
      font-size: calc(24px + 2rem);
    }

    strong {
      font-size: calc(22px + 2rem);
    }

    p {
      font-size: calc(18px + 2rem);
      line-height: 3.5rem;
    }
  }
}

// ===================================min-width: 2300px
@media screen and (min-width: 2300px) {
  .container {
    width: calc($maxWidthContainer * 1px);
    margin: 0 auto;
  }
}