{% set title = 'Contacts' %}
{% include "_head.njk" %} 

{% include "_header.njk" %}
<main class="main_contacts">
  <h2>our contacts</h2>
  <section class="container">
    <div class="map_contacts">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d186573.52090001808!2d-88.13230328667763!3d43.05802407998179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880502d7578b47e7%3A0x445f1922b5417b84!2z0JzRltC70LLQvtC60ZYsINCS0ZbRgdC60L7QvdGB0LjQvSwg0KHQv9C-0LvRg9GH0LXQvdGWINCo0YLQsNGC0Lgg0JDQvNC10YDQuNC60Lg!5e0!3m2!1suk!2sua!4v1699967368687!5m2!1suk!2sua"  {# width="600" height="450" #} style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    </div>
  </section>
</main>
{% include "_modal.njk" %}  
{% include "_footer.njk" %}