{% set title = 'Cosmetics' %}
{% include "_head.njk" %} 

{% include "_header.njk" %}
<main  class="main_cosmetics">
  <h2>beauty products</h2>
  <section class="container">
    <div class="catalog_cosmetics">
      <article class="catalog_hair catalog swiper-cosmetics_catalog_hair">
        <div class="swiper-wrapper">
          {% include "./catalogs/_cat_hair.njk" %}
        </div>
      </article>
      <article class="catalog_nails catalog swiper-cosmetics_catalog_nail">
        <div class="swiper-wrapper">
          {% include "./catalogs/_cat_nail.njk" %}
        </div>
      </article>
      <article class="catalog_body catalog  swiper-cosmetics_catalog_body">
        <div class="swiper-wrapper">
          {% include "./catalogs/_cat_body.njk" %}
        </div>
      </article>
      <article class="catalog_make_up catalog swiper-cosmetics_catalog_makeUp">
        <div class="swiper-wrapper">
          {% include "./catalogs/_cat_make_up.njk" %}
        </div>
      </article>
    </div>
  </section>
</main>
{% include "_modal.njk" %}  
{% include "_footer.njk" %}