{% set title = 'Prices' %}
{% include "_head.njk" %} 

{% include "_header.njk" %}

<main  class="main_prices">
  <h2>Prices for services</h2>
  <section class="container">
    <div class="prices_hair price">
      <video src="./../assets/video/hair_video.mp4" controls="controls" poster="./../assets/images/png/price_1.png" preload="auto" autoplay muted loop playsinline >
      </video>
      <div class="price_list">
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p  class="service_about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minima, praesentium accusamus qui modi architecto nihil soluta, molestiae ratione similique debitis laborum!</p>
        </div>
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p  class="service_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ea.</p>
          
        </div>
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p  class="service_about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, quia? Animi amet doloribus aut exercitationem?</p>
          </div>
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p  class="service_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius fuga architecto.</p>
          </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="prices_manic price">
      <video src="./../assets/video/nails_video.mp4" poster="./../assets/images/jpeg/work_3L.jpeg" controls="controls" preload="auto" autoplay muted loop playsinline >
      </video>
      <div class="price_list">
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p class="service_about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minima, praesentium accusamus qui modi architecto nihil soluta, molestiae ratione similique debitis laborum!</p>
          </div>
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p class="service_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ea.</p>
          </div>
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p class="service_about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, quia? Animi amet doloribus aut exercitationem?</p>
          </div>
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p class="service_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius fuga architecto.</p>
          </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="prices_cosmetology price">
      <video src="./../assets/video/laser_video.mp4" poster="./../assets/images/jpeg/work_2L.jpeg"  controls="controls" preload="auto" autoplay muted loop playsinline ></video>
      <div class="price_list ">
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p class="service_about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minima, praesentium accusamus qui modi architecto nihil soluta, molestiae ratione similique debitis laborum!</p>
          </div>
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p class="service_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ea.</p>
          </div>
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p class="service_about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, quia? Animi amet doloribus aut exercitationem?</p>
          </div>
        <div class="service">
          <div class="service_header">
            <h4>Procedure or service</h4>
            <h4>123</h4>
          </div>
          <p class="service_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius fuga architecto.</p>
          </div>
      </div>
    </div>
  </section>
</main>
{% include "_modal.njk" %}  
{% include "_footer.njk" %}