{% block _cat_make_up %}
{% set cat_make_up =[
        {
          src: './../assets/images/catalog/makeup1.jpeg',
          alt: ' exampl ',
          titl: ' exampl ',
          card_header: 'Lorem ipsum dolor',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu nibh vitae amet. Ipsum, pharetra donec ornare velit. Id at quisque accumsan risus ac ipsum ut. Sit elit, facilisi proin non malesuada sociis tristique. Viverra augue lorem ut quisque quam tortor, malesuada iaculis.',
          price:'777'
        },
        {
          src: './../assets/images/catalog/makeup-brushes.jpeg',
          alt: ' exampl ',
          titl: ' exampl ',
          card_header: 'Lorem ipsum dolor ipsum dolor sit amet',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu nibh vitae amet. Ipsum, pharetra donec ornare velit. Id at quisque accumsan risus ac ipsum ut. Sit elit, facilisi proin non malesuada sociis tristique. Viverra augue lorem ut quisque quam tortor, malesuada iaculis.',
          price:'777'
        },
        {
          src: './../assets/images/catalog/makeup1.jpeg',
          alt: ' exampl ',
          titl: ' exampl ',
          card_header: 'Lorem ipsum dolor',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu nibh vitae amet. Ipsum, pharetra donec ornare velit. Id at quisque accumsan risus ac ipsum ut. Sit elit, facilisi proin non malesuada sociis tristique. Viverra augue lorem ut quisque quam tortor, malesuada iaculis.',
          price:'777'
        },
        {
          src: './../assets/images/catalog/makeup1.jpeg',
          alt: ' exampl ',
          titl: ' exampl ',
          card_header: 'Lorem ipsum dolor ipsum dolor sit amet',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu nibh vitae amet. Ipsum, pharetra donec ornare velit. Id at quisque accumsan risus ac ipsum ut. Sit elit, facilisi proin non malesuada sociis tristique. Viverra augue lorem ut quisque quam tortor, malesuada iaculis.',
          price:'777'
        },
        {
          src: './../assets/images/catalog/makeup-brushes.jpeg',
          alt: ' exampl ',
          titl: ' exampl ',
          card_header: 'Lorem ipsum dolor',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu nibh vitae amet. Ipsum, pharetra donec ornare velit. Id at quisque accumsan risus ac ipsum ut. Sit elit, facilisi proin non malesuada sociis tristique. Viverra augue lorem ut quisque quam tortor, malesuada iaculis.',
          price:'777'
        },
        {
          src: './../assets/images/catalog/makeup1.jpeg',
          alt: ' exampl ',
          titl: ' exampl ',
          card_header: 'Lorem ipsum dolor ipsum dolor sit amet',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu nibh vitae amet. Ipsum, pharetra donec ornare velit. Id at quisque accumsan risus ac ipsum ut. Sit elit, facilisi proin non malesuada sociis tristique. Viverra augue lorem ut quisque quam tortor, malesuada iaculis.',
          price:'777'
        },
        {
          src: './../assets/images/catalog/makeup-brushes.jpeg',
          alt: ' exampl ',
          titl: ' exampl ',
          card_header: 'Lorem ipsum dolor',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu nibh vitae amet. Ipsum, pharetra donec ornare velit. Id at quisque accumsan risus ac ipsum ut. Sit elit, facilisi proin non malesuada sociis tristique. Viverra augue lorem ut quisque quam tortor, malesuada iaculis.',
          price:'777'
        },
        {
          src: './../assets/images/catalog/makeup-brushes.jpeg',
          alt: ' exampl ',
          titl: ' exampl ',
          card_header: 'Lorem ipsum dolor',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu nibh vitae amet. Ipsum, pharetra donec ornare velit. Id at quisque accumsan risus ac ipsum ut. Sit elit, facilisi proin non malesuada sociis tristique. Viverra augue lorem ut quisque quam tortor, malesuada iaculis.',
          price:'777'
        }
      ] %}

      {%- import "_macros_catalog.njk" as makeCatalog -%}

      {% for item in cat_make_up %}
        {{ makeCatalog.catalog(item, classBlock = 'cat_make_up') }}
      {% endfor %}
{% endblock %}