@font-face {
  font-family: 'Cormorant Garamond Regular'; //'Cormorant Garamond Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/hairdressing_salon/src/assets/fonts/cormorant-garamond-v16-latin-regular.woff2')
      format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/hairdressing_salon/src/assets/fonts/CormorantGaramondRegular.ttf')
      format('ttf');
}

@font-face {
  font-family: 'Cormorant Garamond SemiBold'; //'Cormorant Garamond SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/hairdressing_salon/src/assets/fonts/cormorant-garamond-v16-latin-600.woff2')
      format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/hairdressing_salon/src/assets/fonts/CormorantGaramondSemiBold.ttf')
      format('ttf');
}

@font-face {
  font-family: 'Cormorant Garamond Bold'; //'Cormorant Garamond Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/hairdressing_salon/src/assets/fonts/cormorant-garamond-v16-latin-700.woff2')
      format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/hairdressing_salon/src/assets/fonts/CormorantGaramondBold.ttf')
      format('ttf');
}

@font-face {
  font-family: 'EBGaramond Regular'; // EBGaramond Regular
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/hairdressing_salon/src/assets/fonts/eb-garamond-v27-latin-regular.woff2')
      format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/hairdressing_salon/src/assets/fonts/EBGaramondRegular.ttf')
      format('ttf');
}

@font-face {
  font-family: 'Garamond Bold'; // Garamond Bold
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/hairdressing_salon/src/assets/fonts/eb-garamond-v27-latin-700.woff2')
      format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/hairdressing_salon/src/assets/fonts/EBGaramondBold.ttf')
      format('ttf');
}
